.home{
    width:100%;
    height:100%;
}

.linkText{
    
    margin-top:auto;
    margin-bottom:auto;
    color:var(--text-color-gray);
}

.dangerText{
    color:var(--danger-red);
    margin-top:auto;
    margin-bottom:auto;
}