.header{
    display:flex;
    padding-right:25px;
    padding-left:25px;
    padding-top:25px;
}

.logo{
    color:var(--primary-color);
    margin-top:auto;
    margin-bottom: auto;
}
.pfp{
    width:50px;
    height:50px;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    border-radius: 50%;
    cursor: pointer;
    transition:all 0.2s;
    border:1px solid transparent;
}
.pfp:hover{
    -webkit-box-shadow: 3px 3px 20px 1px rgba(77,77,77,0.75);
    -moz-box-shadow: 3px 3px 20px 1px rgba(77,77,77,0.75);
    box-shadow: 3px 3px 20px 1px rgba(77,77,77,0.75);
}
.pfp:focus{
    border:1px solid var(--primary-color);
}