@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --background-dark:#161616;
  --primary-color:#079cff;
  --text-color-gray:#ACACAC;
  --text-lighter-gray:#c8c8c8;

  --popup-light-gray:#292929;
  --popup-border-radius:6px;
  --popup-link-hover:#373737;

  --danger-red:#FF3F3F;
  --danger-red-hover:#f62d2d;
  --separator-color:#666666;

  --jungle-green:#6ddf51;
}

*{
  font-family: 'Inter', sans-serif;
}
body,html{
  margin:0;
  padding:0;
  
  background-color: var(--background-dark);
}

